cust/app/customized/partner-com.zhiliaoapp.musically_100/partner-com.zhiliaoapp.musically_100.apk
cust/app/customized/partner-cn.wps.moffice_eng_63/partner-cn.wps.moffice_eng_63.apk
cust/app/customized/partner-com.agoda.mobile.consumer_110/partner-com.agoda.mobile.consumer_110.apk
cust/app/customized/partner-com.truecaller_195/partner-com.truecaller_195.apk
cust/app/customized/partner-com.ss.android.ugc.trill_101/partner-com.ss.android.ugc.trill_101.apk
cust/app/customized/partner-com.opera.browser_36/partner-com.opera.browser_36.apk
product/app/WebViewGoogle/WebViewGoogle.apk
product/priv-app/Messages/Messages.apk
product/priv-app/GmsCore/GmsCore.apk
product/priv-app/Velvet/Velvet.apk
vendor/lib64/mt6895/libaibc_tuning.so
system/system/system_ext/apex/com.android.vndk.v30.apex
system/system/system_ext/priv-app/Settings/Settings.apk
system/system/data-app/MIBrowserGlobal/MIBrowserGlobal.apk
system/system/priv-app/MiuiCamera/MiuiCamera.apk
system/system/priv-app/MIUIGalleryGlobal/MIUIGalleryGlobal.apk
